
@{
    ViewBag.Title = "Index";
}

<section id="content" style="overflow: visible;">
    <div class="content-wrap">
        <div class="container clearfix">

            <div id="section-features" class="heading-block title-center page-section">
                <h1 class="display-3" style="color: #005580; text-align: center; font-weight: bold; padding-top: 25px">House Utiliti Service Provider</h1>

                <h2 class="display-6" style="color: #0066cc; text-align: center; font-weight: bold; padding-top: 10px"><span>About US</span></h2>
            </div>

            <p style="text-align:justify;">
                <br /><br />Since its inception, Utility Services has provided guidance and assistance on registration, 
                compliance, and standard development to over 100 registered entities in all eight NERC regions of the 
                United States and Canada. Our constituents include publicly owned entities, independent generation, and
                transmission owners. Utility Services has participated in over 200 audits since its inception. To date,
                our customers have had less than 10 enforcement actions..<br />
                <br />
                <br />
            </p>
            

        </div>
    </div>
</section>

